.button {
  background: var(--text-color);
  --main-color:#131313;
  color:var(--secondary-color);
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 120px;
  border:2px solid transparent ;
  border-radius: 3px;
  text-decoration: none;
  transition: .3s;
  &:hover {
    background:var(--secondary-color) ;
    color: var(--main-color);
    border-color: currentColor ;
  }
}