.slider {
  @media screen and (min-width: 760px) {
  }
}
.points {
  display: block;
  border: 1px solid #E2E2E2;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background:#E2E2E2;
}
.arrow {

}
